In [ ]:
Inroduction to string data types
difinition: A string is a series of characters declared in quotes.
Classification: It is classified as an immutable data type.
How to declare the string datatype -> 2 approaches.
1. Single quote 2. Double quote

In [1]:
name = 'joseph' # Single quote
print(name)

joseph

In [3]:
name2 = "joseph" # Double quote
print(name2)

joseph

In [4]:
# Intrdoction to string methods: 
type(name)

str

In [11]:
fullname = "abdul mateen"
print(fullname)
print(fullname.title()) #First letters to be capitalised
print(fullname.upper()) # variables to be capitalised
print(fullname.lower()) # lowers the variable value

abdul mateen
Abdul Mateen
ABDUL MATEEN
abdul mateen